{% extends "base.html" %}
{% block title %}
    Ввести данные
{% endblock %}
{% block main_part_of_page %}
    <div class="vh-100 container-fluid" id="main_part">
        <form method="POST" action="add_theatres_data/">
            {% csrf_token %}
            <table>
                {{ theatre_form }}
            </table>
            <input type="submit" value="Отправить">
        </form>
        <form method="POST" action="add_shows_data/">
            {% csrf_token %}
            <table>
                {{ shows_form }}
            </table>
            <input type="submit" value="Отправить">
        </form>
        <form method="POST" action="add_visitors_data/">
            {% csrf_token %}
            <table>
                {{ visitors_form }}
            </table>
            <input type="submit" value="Отправить">
        </form>
        <div id="home_button">
            <a href="/">
                На главную!
            </a>
        </div>
    </div>
{% endblock %}